// :root{

// }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.headerNav{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.img-cont {
    position: relative;

    .banImg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        // min-height: 80vh;
    }

    .head {
        position: absolute;
        top: 25%;
        left: 35%;
        transform: translate(-20%, -50%);
        font-weight: 500;
        color: #000;
        font-size: 36px;
    }

    .subhead {
        position: absolute;
        top: 50%;
        left: 58%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        color: #000;
    }

}

.footer {
    background-color: #1e1c18;
    padding-top: 60px;
    padding-bottom: 60px;

    .footer-block {
        background-color: #282725;
        padding: 40px 40px 10px 40px;
        border-radius: 10px;
    }

    .copyright-content {
        padding: 12px;
        color: rgb(253, 187, 21, 0.7);
    }
}

@media only screen and (max-width: 480px){
.img-cont .banImg {
    min-height: 50% !important;
}
.img-cont .head {
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
    transform: inherit !important;
    padding: 20px;
    text-align: left;
    font-size: 23px !important;
    font-weight: bold !important;
    margin-bottom: -10px;
}
}
@media only screen and (max-width: 1024px){
.img-cont .head {
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
    transform: inherit !important;
    padding: 20px;
    text-align: center;
    font-size: 23px !important;
    font-weight: bold !important;
    margin-bottom: -10px;
}
.subhead {
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
    transform: inherit !important;
    padding: 20px;
    text-align: center;
    font-size: 14px !important;
}
}